.about-section {
  flex: 1;
  /* background-color: rgb(173, 173, 173); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-area {
  width: 80%;
  max-width: 2000px;

  display: flex;
  flex-direction: column;
}

.about-container {
  width: 100%;
  display: flex;
}

.salutation {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salutation .image-of-me {
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  height: 600px;
}

.salutation h2 {
  font-size: 80px;
}

.salutation .name {
  align-self: center;
  margin-top: 20px;
}

.abouts {
  flex: 2;
}

.more-about-container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.more-about-link {
  font-size: 20px;

  display: flex;
  align-items: center;
}

.more-about-link:hover span {
  transform: translateX(5px);
}

.more-about-link span {
  margin-left: 5px;
  font-size: 1.45em;
  transition: transform .5s ease-in-out;
}

.section {
  padding: 10px;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 0;
}

.skills-container {
  width: 60%;
  max-width: 2000px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  background: linear-gradient(to bottom left, rgb(100, 100, 100), #2e2e2e);
  border-radius: 5px;
  box-shadow: 0 0 10px #111111;
  width: 80%;
  height: 60%;

  display: flex;
  align-items: center;
  padding: 0 30px;
}



@media only screen and (max-width: 1000px) {
  .about-container {
    flex-direction: column;
  }

  .salutation .image-of-me {
    height: 300px; /* Adjust as needed */
  }

  .salutation h2 {
    font-size: 40px; /* Adjust font size */
  }

  .abouts {
    margin-top: 30px;
  }

  .abouts .section {
    font-size: 20px;
    text-align: center;
  }

  .skills {
    width: 100%;
  }
}

