.contact-section {
  /* background-color: rgb(173, 173, 173); */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.contact-info {
  font-size: 55px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 175px;
}

.contact-info h3 {
  line-height: 1;
  margin: 0;
}

.contact-info p {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) and (min-width: 651px)  {
  .contact-info {
    text-align: center;
    padding: 0;
    margin: 0 50px 20px;
    font-size: 3em;
  }
}

@media only screen and (max-width: 650px)  {
  .contact-info {
    text-align: center;
    padding: 0;
    margin: 0 50px 20px;
    font-size: 2em;
  }
}



