.contact-section {
  background-color: rgb(173, 173, 173);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.contact-info {
  font-size: 40px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-info h3 {
  line-height: 1;
  margin: 0;
}

.contact-info p {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}




