.header {
  width: 100%;

  display: flex;
  justify-content: end;

  position: fixed;
  gap: 20px;

  font-size: 20px;

  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.resume {
  margin-right: 20px;
}

.blurred {
  backdrop-filter: blur(50px);
  border-bottom: 1px solid;
}

