.header {
  width: 100vw;

  display: flex;
  justify-content: space-between;

  position: fixed;

  font-size: 25px;

  padding: 10px 20px;
  box-sizing: border-box;

  backdrop-filter: blur(0);
  border-bottom: 1px solid transparent;
  transition: backdrop-filter 0.5s ease-in-out, border-bottom 0.5s ease-in-out;

  z-index: 100;
}

.header .contact-fields {
  display: flex;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  align-items: center;

  transition: opacity 0.5s, visibility 0.5s;
}

.header .contact-fields.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s;
}

.resume {
  margin-right: 20px;
}

.contact-fields a {
  display: flex;
}

.contact-fields a img {
  height: 20px;

  transition: transform 1.0s;
}

.contact-fields a img:hover {
  transform: scale(1.2);
  transition: transform 1.0s;
}

.header .navigation-fields {
  display: flex;
  gap: 20px;
}

.blurred {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid;
  
  transition: backdrop-filter 0.1s ease-in-out, border-bottom 0.5s ease-in-out;
}

