.header {
  width: 100vw;

  display: flex;
  justify-content: space-between;

  position: fixed;

  font-size: 20px;

  padding: 10px 20px;
  box-sizing: border-box;

  backdrop-filter: blur(0);
  border-bottom: 1px solid transparent;
  transition: backdrop-filter 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
}

.header .contact-fields {
  display: flex;
  gap: 20px;
  visibility: hidden;

  align-items: center;
}

.resume {
  margin-right: 20px;
}

.contact-fields a {
  display: flex;
}

.contact-fields a img {
  height: 20px;
}

.header .navigation-fields {
  display: flex;
  gap: 20px;
}

.blurred {
  backdrop-filter: blur(50px);
  border-bottom: 1px solid;
  
  transition: backdrop-filter 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
}

