.more-about-page {
  display: flex;
  flex-direction: column;
}

.more-about-page .header {
  position: fixed;
  left: 0;
}

.more-about-page .about-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 30px;
}

.back-button {
  border: 1px solid grey;
}

.back-button:hover {
  background-color: grey;
}

.info-section {
  margin: 0 250px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.info-section .text-area {
  margin: 0;
}

.about-container .info-section:nth-child(odd) .text-area {
  grid-column: 1 / 11;
  grid-row: 1 / 11;
}

.about-container .info-section:nth-child(odd) img {
  grid-column: 11 / 21;
  grid-row: 1 / 11;
}

.about-container .info-section:nth-child(even) .text-area {
  grid-column: 12 / 21;
  grid-row: 1 / 11;
}

.about-container .info-section:nth-child(even) img {
  grid-column: 1 / 11;
  grid-row: 1 / 11;
}