.projects-section {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-container {
  width: 80%;
  display: grid;
  flex-direction: column;
  justify-content: center;

  gap: 100px;
}

.project {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.project-image {
  grid-column: 1 / 11; 
  grid-row: 2 / 10;
  width: 100%; 
  height: auto; 
  z-index: 2;

  border: 2px solid #1a1a1a;
  border-radius: 10px;
}

.information-background {
  grid-column: 10 / -1;
  grid-row: 1 / -1; 
  background: linear-gradient(to top left, rgb(100, 100, 100), #242424);
  z-index: 1;

  /* border: 2px solid #000000;
  border-radius: 3px; */
  box-shadow: 0 0 20px #141414;
}

.information-details {
  grid-column: 11 / 20;
  grid-row: 1 / -1;
  z-index: 2;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 30px;
  margin: 0;
  margin-top: 12px;
}

.project-description {
  font-size: 19px;
}

.project-links {
  display: flex;
  gap: 15px;

  justify-content: end;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to left, rgba(176, 180, 185, 0.363), #242424);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
  border-radius: 10px;
}

.project-links a img {
  height: 25px;

  transition: transform 1.0s;
}

.project-links a img:hover {
  transform: scale(1.2);
  transition: transform 1.0s;
}

.project-skills-container {
  height: 110px;
  background: linear-gradient(to bottom left, rgba(197, 197, 197, 0.068), rgba(46, 46, 46, 0.637));
  margin-bottom: 35px;
  box-shadow: 0 0 10px rgb(36, 36, 36);
  border-radius: 5px;
}

.information-details hr {
  width: 100%;
}

.project-skills {
  height: 100%;
  display: flex;
  align-items: center;
}



