.section-header {
  margin: 0;
  padding: 10px;
  font-size: 80px;

  line-height: 1;
  text-align: center;

  /* background-color: black; */
  width: 100%;

  background-color: #292929;

  position: relative;

  box-sizing: border-box;
}

.section-header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50%;
  background: linear-gradient(#242424 15%, #292929);
}

.section-header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background: linear-gradient(#292929 15%, #242424);
}

.section-header .title {
  position: relative;
  z-index: 1;
  opacity: 0;
}

.section-header .title.active-section {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 50px;
    font-size: 1em;
    padding-right: 5px;
  }

  .header .contact-fields .name {
    display: none;
  }

  .header .navigation-fields {
    gap: 0;
  }

  .header .contact-fields {
    gap: 10px;
  }
}